<h3>以下の内容で、Tweetする。</h3>

<%= form_with(model: @tweet, url: tweetaros_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>内容:<%= @tweet.content %></p>
  <%= form.submit  "Tweetする" %>
<% end %>

<%= form_with(model: @tweet, url: new_tweetaro_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :content %>
  <%= form.submit "戻る" , name:'back'%>
<% end %>